/* Backgrounds */
.bg-dark-blue-800 {
  background-color: var(--#{$prefix}menu-link-bg-hover);
}

.bg-dark-blue-700 {
  background-color: var(--#{$prefix}card-primary-bg-color);
}

.bg-modal-surface {
  background-color: #fff;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-blue-950;
  }
}

/* Borders */
.border-main-gradient {
  border: 2px solid transparent;
  border-image: $main-gradient 1 !important;
}

.border-pink {
  border: 2px solid #ff00ff !important;
}

/* Badges */
.badge {
  max-height: 24px;
}

.min-w-unset {
  min-width: unset !important;
}

.min-w-25 {
  min-width: 25%;
}

.min-w-50 {
  min-width: 50%;
}

.min-w-75 {
  min-width: 75%;
}

.min-w-100 {
  min-width: 100%;
}

/* Box Shadows */
.glow-dark-bg {
  @media (prefers-color-scheme: dark) {
    -webkit-box-shadow: 0px 0px 300px -12px rgba(76, 84, 195, 0.25);
    -moz-box-shadow: 0px 0px 300px -12px rgba(76, 84, 195, 0.25);
    box-shadow: 0px 0px 300px -12px rgba(76, 84, 195, 0.25);
  }
}
// $utilities: map-merge(
//   $utilities,
//   (
//     'background-color':
//       map-merge(
//         map-get($utilities, 'background-color'),
//         (
//           values: map-merge(map-get(map-get($utilities, 'background-color'), 'values'), $dark-blues),
//         )
//       ),
//   )
// );

/* Flex */
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-centered {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.g-12px {
  --bs-gutter-x: 12px !important;
  --bs-gutter-y: 12px !important;
}

.fill-remaining {
  flex: 1 1 auto;
  overflow: auto;
  overflow-x: hidden;
}

.flex-column-100 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Absolute Positioning */
.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Display */
.d-table-caption {
  display: table-caption;
}

/* Text Color */
.text-dark-blue {
  color: var(--#{$prefix}text-dark-blue);
}

/* Visibility */
.visible-on-hover {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &[selected] {
    opacity: 1;
  }

  &.activate-on-sibling-hover {
    &:has(+ *:hover),
    *:hover + & {
      opacity: 1;
    }
  }
}

.transition-bg {
  transition: background-color 0.15s linear;
}

.indicator-circle {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $danger;
}

*.indicator-circle-before {
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $danger;
  }
}

.text-wrap-two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  min-width: 6rem;
}

.text-one-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  min-width: 6rem;
}
