apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-deployment
  labels:
    name: notifications-deployment
    app: htx-back-end
spec:
  replicas: 1
  selector:
    matchLabels:
      name: notifications
      app: htx-back-end
  template:
    metadata:
      labels:
        name: notifications
        app: htx-back-end
    spec:
      containers:
        - name: notifications
          image: back-end-notifications:1.0.0
          env:
            - name: HTTP_PORT
              value: '3020'
            - name: AUTH_HOST
              value: 'api-service'
            - name: AUTH_PORT
              value: '3001'
            - name: NATS_URL
              value: 'nats://nats:4222'
            - name: EMAIL_API_HOST
              valueFrom:
                secretKeyRef:
                  name: email-api-secret
                  key: host
            - name: EMAIL_API_PORT
              valueFrom:
                secretKeyRef:
                  name: email-api-secret
                  key: port
            - name: EMAIL_API_SECURE
              valueFrom:
                secretKeyRef:
                  name: email-api-secret
                  key: secure
            - name: EMAIL_API_USERNAME
              valueFrom:
                secretKeyRef:
                  name: email-api-secret
                  key: username
                  optional: true
            - name: EMAIL_API_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: email-api-secret
                  key: password
                  optional: true
            - name: SENDER_EMAIL
              valueFrom:
                secretKeyRef:
                  name: email-api-secret
                  key: sender-email
            - name: REDIS_URL
              value: 'redis://redis-service:6379'
            - name: POSTGRES_HOST
              value: 'postgres-service'
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DATABASE
              value: 'postgres'
            - name: POSTGRES_USERNAME
              value: 'postgres'
            - name: POSTGRES_PASSWORD
              value: 'postgres'
            - name: POSTGRES_SYNCHRONIZE
              value: 'false'
            - name: POSTGRES_MAX_POOL_SIZE
              value: '2'
            - name: MINIMUM_SUPPORTED_FRONTEND_VERSION
              value: '0.23.0'
---
apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  labels:
    name: notifications-service
    app: htx-back-end
spec:
  ports:
    - name: 'http'
      port: 3020
      protocol: TCP
      targetPort: 3020
  selector:
    name: notifications
    app: htx-back-end
  type: NodePort
