name: Test Backend

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - main
      - release/**
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Tests | ${{ matrix.test-suite.name }}
    runs-on: transaction-tools-linux-medium
    strategy:
      fail-fast: false
      matrix:
        test-suite:
          - name: API
            command: api
          - name: Chain
            command: chain
          - name: Notifications
            command: notifications
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install pnpm
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640 # v4.2.0
        with:
          version: 9

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22.12.0
          cache: 'pnpm'
          cache-dependency-path: |
            back-end/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install
        working-directory: back-end

      - name: Run unit tests
        run: pnpm --filter ${{ matrix.test-suite.command }} test:cov
        working-directory: back-end

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5c47607acb93fed5485fdbf7232e8a31425f672a # v5.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
